.chat-main 
  .chat-main__group-info
    .group-info__left
      .left__group-name
        = @group.name
      .left__member
        Member :
        - @group.users.each do |user|
          = user.name
    .group-info__right
      = link_to edit_group_path(@group.id), class: "contents__btn" do
        Edit
  .chat-main__message-list
    = render @messages
    
  .chat-main__message-form
    = form_for [@group, @message], html: { class: "form_content" } do |f|
      .message-form
        = f.text_field :content, placeholder: 'type a message', class: 'message-box2'
        = f.label :image, class: "input-box__image" do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input_none'
      .message-form__btn
        = f.submit 'Send', class: 'contents__btn'